html {
  height: 100%;
  width: 100%;
}

input{
  width: 48px;
  padding: 5px 9px;
  border-radius: 7px;
  background-color: #CDCDCD;
  font-family: 'Montserrat';
}

.calculator-container{
  background-color: #ECECEC;
  width: 210px;
}

textarea{
  background-color: #B4C2B3;
}
